body{
    background-image: url('/pictures/flores.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.container{
    height: 100%;
    width: 100%;
    color: rgb(236, 235, 233);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-image{
    width: 10cm;
    height: 20cm;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.app-image{
    display: flex;
    flex-direction: column;
    width: 500px;
}

#display-image{
    width: 100%;
    height: 650px; 
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.app{
    border: 4px solid rgb(24, 67, 207);
    border-radius: 10px;
    padding: 50px;
    padding-top: 10px;
    margin-top: 5px;
    background-color: rgb(18, 18, 19);
}

.app-photo-picker{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 40px;
    padding: 10px;
}

textarea{
    width: 100%;
    resize: vertical;
    border-radius: 5px;
    padding-top: 16px;
    overflow: hidden;
    height: 60px;
    outline: none;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 16px;
    text-align: center; 
}

#btn-download{
    width: 100%;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(24, 67, 207);
    color: white;
    cursor: pointer;
    transition: .5s cubic-bezier(0.55, 0.025, 0.675, 0.97);
}

.text-box{
    background: rgb(24, 67, 207);
    color: white  
}

#meme-list{
    width: 100%;
    border: 1px  solid white;
    font-size: large;
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 10px;
    font-family: sans-serif;
    text-align: center;
    color: rgb(252, 250, 247);
}

.download{
    padding: 15px;
    height: 20px;
}

.custom-file-upload{
    padding: 10px;
    width: 60%;
    font-size: 17px;
    font: sans-serif;
    border-radius: 20px;
    border: 3px solid #e9f81d;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: .5s cubic-bezier(0.55, 0.025, 0.675, 0.97);   
}

.custom-buttom{
    padding-top: 10px;
    padding-left: 140px;
}

